<div class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="container mx-auto px-4 py-8">
      <!-- Main Content -->
      <div class="bg-white shadow-lg rounded-lg p-6 md:p-10 text-center">
        <h1 class="text-2xl md:text-4xl font-bold text-gray-800 mb-6">
          Bienvenido a <span class="text-teal-500">GMMassages</span>
        </h1>
        <p class="text-gray-600 text-lg md:text-xl mb-6">
            ¡Obtén el masaje que mereces y alcanza la 
            <span class="font-semibold text-teal-400">máxima relajación</span>! 
            Libera todas las malas energías y vive una experiencia única de 
            <span class="underline text-teal-600">bienestar y paz</span>.
        </p>
        <!-- videos to show -->
        <app-videos></app-videos>
        <!-- end videos to show -->
        <app-masages></app-masages>
      </div>
    </div>
</div>
  