<div class="py-8">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
           <!-- video 1 -->
            <div class="aspect-w-16 aspect-h-9">
                <video class="rounded-lg shadow-md w-full" controls autoplay>
                    <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4"/>
                    Error loadding video
                </video>
            </div>
              <!-- video 1 -->
              <div class="aspect-w-16 aspect-h-9">
                <video class="rounded-lg shadow-md" controls autoplay>
                    <source src="https://docs.material-tailwind.com/demo.mp4" type="video/mp4"/>
                    Error loadding video
                </video>
            </div>
              <!-- video 1 -->
              <div class="aspect-w-16 aspect-h-9">
                <video class="rounded-lg shadow-md" controls autoplay>
                    <source src="https://docs.material-tailwind.com/demo.mp4" type="video/mp4"/>
                    Error loadding video
                </video>
            </div>

        </div>
    </div>
</div>